* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.note-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.note {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  max-width: 500px;
}

.d-flex {
  display: flex;
  padding: 3em;
  gap: 3em;
}
